{% load static %}
{% load i18n %}
{% load js %}
{% load i18n %}

<div class="container">
  <div class="border p-3">
    <div class="row">
      <div class="col-sm">
        <div>
          <h4>{% trans "Start" %}</h4>
          <dl>
            <dt>
              {% trans "Concept" %}
            </dt>
            <dd>
              <select id="pathfinder-start-concept" class="custom-select2" style="width: 100%"></select>
            </dd>
          </dl>

          <dl>
            <dt>
              {% trans "Instance" %}
            </dt>
            <dd>
              <select id="pathfinder-start-instance" class="custom-select2" style="width: 100%"></select>
            </dd>
          </dl>

          <dl>
            <dt>
              {% trans "Relations" %} <small class="text-muted">({% trans "optional filter" %})</small>
              <input id="all-relations-pathfinder-checkbox" type="checkbox" title="{% trans 'Select All' %}"/>
            </dt>
            <dd>
              <select id="pathfinder-relations" multiple="multiple" class="custom-select2" style="width: 100%"></select>
            </dd>
          </dl>

        </div>
      </div>
      <div class="col-lg">
        <div>
        <h4>{% trans "End" %}</h4>
          <dl>
            <dt>
              {% trans "Concept" %}
            </dt>
            <dd>
              <select id="pathfinder-end-concept" class="custom-select2" style="width: 100%"></select>
            </dd>
          </dl>

          <dl>
            <dt>
              <label for="pathfinder-find-all" style="font-weight: normal; cursor: pointer;">
                <input id="pathfinder-find-all" type="checkbox" />
                {% trans "Find all instances of this concept" %}
              </label>
            </dt>
          </dl>

          <dl id="pathfinder-end-instance-container">
            <dt>
              {% trans "Instance" %}
            </dt>
            <dd>
              <select id="pathfinder-end-instance" class="custom-select2" style="width: 100%"></select>
            </dd>
          </dl>

        </div>
      </div>
      
    </div>
    <div class="text-center">
      <input id="find-pathfinder-btn" class="btn btn-primary" type="button" value="{% trans 'Find Path' %}" />
    </div>
  </div>
    <div id="modelpathfinder-container" class="" max-width="100%"></div>
</div>
{% csrf_token %}

<script type="text/javascript">

  var pathfinder_start_concept = document.getElementById('pathfinder-start-concept');
  var pathfinder_end_concept = document.getElementById('pathfinder-end-concept');
  for (const [concept_id, concept] of Object.entries(ontology_data['concepts'])){
    var option = document.createElement("option");
    option.value = concept_id;
    option.text = concept.name;
    pathfinder_start_concept.appendChild(option);
    var option = document.createElement("option");
    option.value = concept_id;
    option.text = concept.name;
    pathfinder_end_concept.appendChild(option);
  }

  // add relations to the relation select
  var pathfinder_relations = document.getElementById('pathfinder-relations');
  for (const [relation_id, relation] of Object.entries(ontology_data['relations'])){
    var option = document.createElement("option");
    option.value = relation_id;
    option.text = relation.name;
    pathfinder_relations.appendChild(option);
  }

</script>

<script type="text/javascript">

  function modify_pathfinder_buttons(action){
    if (action == 'disable'){
      $("#find-pathfinder-btn").attr("disabled", true);
      $("#generate-instance-pathfinder-btn").attr("disabled", true);
    }else{
      $("#find-pathfinder-btn").attr("disabled", false);
      $("#generate-instance-pathfinder-btn").attr("disabled", false);
    }
  }

  $(document).ready(function(){

    $('#pathfinder-start-concept').select2({
      maximumSelectionSize: 1,
      sorter: data => data.sort((a, b) => a.text.localeCompare(b.text)),
    });
    $('#pathfinder-start-instance').select2({
      maximumSelectionSize: 1,
      sorter: data => data.sort((a, b) => a.text.localeCompare(b.text)),
    });
    $('#pathfinder-end-concept').select2({
      maximumSelectionSize: 1,
      sorter: data => data.sort((a, b) => a.text.localeCompare(b.text)),
    });
    $('#pathfinder-end-instance').select2({
      maximumSelectionSize: 1,
      sorter: data => data.sort((a, b) => a.text.localeCompare(b.text)),
    });

    $('#pathfinder-relations').select2({
      placeholder: "All relations",
      allowClear: true,
      sorter: data => data.sort((a, b) => a.text.localeCompare(b.text)),
    });

    $('#all-relations-pathfinder-checkbox').click(function() {
      toggle_checkbox('pathfinder-relations', 'all-relations-pathfinder-checkbox');
    });

    $('#pathfinder-relations').change(function() {
      uncheck_all_checkbox('pathfinder-relations', 'all-relations-pathfinder-checkbox');
    });
    $('#pathfinder-start-concept').change(function() {
      uncheck_all_checkbox('pathfinder-start-concept', 'all-concept-pathfinder-start-checkbox');
      debounce(fetch_pathfinder_instance(null, 'start'));
    });
    $('#pathfinder-start-instance').change(function() {
      uncheck_all_checkbox('pathfinder-start-instance', 'all-instance-pathfinder-start-checkbox');
    });
    $('#pathfinder-end-concept').change(function() {
      uncheck_all_checkbox('pathfinder-end-concept', 'all-concept-pathfinder-end-checkbox');
      debounce(fetch_pathfinder_instance(null, 'end'));
    });
    $('#pathfinder-end-instance').change(function() {
      uncheck_all_checkbox('pathfinder-end-instance', 'all-instance-pathfinder-end-checkbox');
    });

    // Toggle end instance dropdown based on checkbox
    $('#pathfinder-find-all').change(function() {
      if ($(this).is(':checked')) {
        $('#pathfinder-end-instance-container').hide();
        $('#pathfinder-end-instance').prop('disabled', true);
      } else {
        $('#pathfinder-end-instance-container').show();
        $('#pathfinder-end-instance').prop('disabled', false);
      }
    });

    $('#find-pathfinder-btn').on('click', function() {
      find_instance_path();
    });

  });
</script>

<script>

  function build_pathfinder_results(results){
    if(results.length > 0){
      path = results[0];
      cell_data = '<ul>';
      for (slot of path){
        cell_data = cell_data + '<li> <strong>' +  slot.subject + '</strong> ' + slot.relation + ' <strong>' + slot.object + '</strong> </li>';
      }
      cell_data += '</ul>';
      $('#modelpathfinder-container').html(cell_data);
    } else {
      $('#modelpathfinder-container').html('<p class="text-muted">{% trans "No path found" %}</p>');
    }
  }

  function build_pathfinder_multi_results(results) {
    let html = '';

    if (results.truncated) {
      html += '<div class="alert alert-warning">{% trans "Showing" %} ' +
              Object.keys(results.paths).length + ' {% trans "of" %} ' +
              results.total_found + ' {% trans "instances" %}</div>';
    }

    html += '<h5>{% trans "Paths to" %} ' + results.concept_name + '</h5>';

    // Split into connected and not connected
    const connected = [], notConnected = [];
    for (const [id, path] of Object.entries(results.paths)) {
      const inst = results.target_instances[id];
      if (path) {
        connected.push({inst, path});
      } else {
        notConnected.push({inst});
      }
    }

    // Render connected instances with their paths
    if (connected.length > 0) {
      html += '<h6 class="text-success">{% trans "Connected" %} (' + connected.length + ')</h6>';
      for (const {inst, path} of connected) {
        html += '<div class="mb-3 p-2 border rounded"><strong><a href="' + inst.url + '">' + inst.name + '</a></strong>';
        html += '<ul class="mb-0">';
        for (const slot of path) {
          html += '<li><strong>' + slot.subject + '</strong> ' + slot.relation + ' <strong>' + slot.object + '</strong></li>';
        }
        html += '</ul></div>';
      }
    }

    // Render not connected instances
    if (notConnected.length > 0) {
      html += '<h6 class="text-muted mt-3">{% trans "No path found" %} (' + notConnected.length + ')</h6>';
      html += '<ul class="text-muted">';
      for (const {inst} of notConnected) {
        html += '<li><a href="' + inst.url + '" class="text-muted">' + inst.name + '</a></li>';
      }
      html += '</ul>';
    }

    if (connected.length === 0 && notConnected.length === 0) {
      html += '<p class="text-muted">{% trans "No instances of this concept found" %}</p>';
    }

    $('#modelpathfinder-container').html(html);
  }

  async function find_instance_path() {
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      const findAll = $('#pathfinder-find-all').is(':checked');
      modify_pathfinder_buttons('disable');
      $("#find-pathfinder-btn").attr("disabled", true);

      const requestData = {
        'model_id': modelId,
        'start_instance_id': $('#pathfinder-start-instance').val(),
        'relation_ids': $('#pathfinder-relations').val(),
        'find_all_of_concept': findAll
      };

      if (findAll) {
        requestData['end_concept_id'] = $('#pathfinder-end-concept').val();
      } else {
        requestData['end_instance_id'] = $('#pathfinder-end-instance').val();
      }

      try {
          const result_data = await $.ajax({
              url: '/o_model/' + modelId +'/pathfinder/',
              type: 'POST',
              headers: {'X-CSRFToken': csrftoken},
              contentType : 'application/json',
              success: function (result) {
                if (findAll) {
                  build_pathfinder_multi_results(result);
                } else {
                  build_pathfinder_results(result);
                }
                $("#find-pathfinder-btn").attr("disabled", false);
              },
              data: JSON.stringify(requestData)
          });
          modify_pathfinder_buttons('enable');
          return result_data;
      } catch (error) {
          modify_pathfinder_buttons('enable');
          console.error("Error: ", error);
      }
  }


  function fetch_pathfinder_instance(instance_ids, axis) {
    filter_data = {'target': 'instance',
                   'model_id': modelId,
                   'concept_ids': $('#pathfinder-'+ axis +'-concept').val(),
                   'instance_ids': instance_ids}
    return filter_model_data(filter_data, update_pathfinder_instances_choices, {'axis': axis})
  }

  function update_pathfinder_instances_choices(result, params){
    axis = params['axis'];
    var $instance_select = $('#pathfinder-'+axis+'-instance');
    $instance_select.empty();
    for (var i = 0; i < result['instances'].length; i++) {
        $instance_select.append('<option value=' + result['instances'][i].id + '>' + result['instances'][i].name + '</option>');
        //populate instance cache
        instances[result['instances'][i].id] = result['instances'][i];
    }
  }

</script>
