{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load mkd %}
{% load static %}

{% block meta %}<meta name="description" content="{% trans "Model detail" %}">{% endblock meta %}
{% block title %}{% trans "Model detail" %}{% endblock title %}


{% block script_extras %}
    <script src="{% static '/js/custom.js' %}"></script>
    <script type="text/javascript">
        var ontology_data = {{ ontology_data | safe }};
        var concepts = {};
        var relations = {};
        var predicates = {};
        var instances = {};
    </script>
{% endblock script_extras %}

{% block content %}
<div class="d-flex flex-column flex-md-row align-items-center pb-2">
    <div>
        <a class="link-dark" href="{% url "organisation_detail" pk=object.repository.organisation.id %}" href="#"> {{ object.repository.organisation.name }} > </a>
        <h2>{{object.name}} ({% trans "Model" %})</h2>
    </div>
    <div class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

            <a class="btn btn-secondary" href="{% url "o_model_update" object.id %}" class="dropdown-item" href="#">{% trans "Edit" %}</a>
            <a class="btn btn-secondary" href="{% url "o_model_copy" model_id=object.id %}" class="dropdown-item" href="#">{% trans "Copy" %}</a>
            <a class="btn btn-secondary" href="{% url "o_model_delete" pk=object.id %}" class="dropdown-item" href="#">{% trans "Delete" %}</a>
            <a class="btn btn-secondary" href="{% url "o_model_import" model_id=object.id %}" class="dropdown-item" href="#">{% trans "Import" %}</a>
            <a class="btn btn-secondary" href="{% url "o_model_export" model_id=object.id %}" class="dropdown-item" href="#">{% trans "Export" %}</a>
            <a class="btn btn-secondary" href="{% url "json_report" model_id=object.id %}" class="dropdown-item" href="#">{% trans "Report" %}</a>
            <!--
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Import
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <li><a href="{% url "o_model_import" model_id=object.id %}" class="dropdown-item" href="#">Json</a></li>
                </ul>
            </div>
        
            <div class="btn-group" role="group">
                <button id="btnGroupDrop2" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Export
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                    <li><a href="{% url "o_model_export" model_id=object.id %}" class="dropdown-item" href="#">Json</a></li>
                </ul>
            </div>
            -->
            
        </div>
    </div>
</div>
<p>{{object.description | markdown | safe}}</p>
<p>{% for tag in object.tags.all %}
    {{ tag.name }} 
  {% endfor %}
</p>

<dl class="row">
    <dt class="col-sm-3 text-muted">{% trans "id" %}</dt>
    <dd class="col-sm-9 text-muted">{{object.id}}</dd>

    <dt class="col-sm-3 text-muted">{% trans "Created" %}</dt>
    <dd class="col-sm-9 text-muted">{{object.created_at}} - {{object.created_by.username}}</dd>

    <dt class="col-sm-3 text-muted">{% trans "Modified" %}</dt>
    <dd class="col-sm-9 text-muted">{{object.modified_at}} - {{object.modified_by.username}}</dd>
</dl>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        {% if show_reports %}<button class="nav-link" id="nav-reports-tab" data-bs-toggle="tab" data-bs-target="#nav-reports" type="button" role="tab" aria-controls="nav-reports" aria-selected="false">{% trans "Reports" %}</button>{% endif %}
        {% if show_concepts %}<button class="nav-link" id="nav-concepts-tab" data-bs-toggle="tab" data-bs-target="#nav-concepts" type="button" role="tab" aria-controls="nav-concepts" aria-selected="false">{% trans "Concepts" %}</button>{% endif %}
        {% if show_relations %}<button class="nav-link" id="nav-relations-tab" data-bs-toggle="tab" data-bs-target="#nav-relations" type="button" role="tab" aria-controls="nav-relations" aria-selected="false">{% trans "Relations" %}</button>{% endif %}
        {% if show_predicates %}<button class="nav-link" id="nav-predicates-tab" data-bs-toggle="tab" data-bs-target="#nav-predicates" type="button" role="tab" aria-controls="nav-predicates" aria-selected="true">{% trans "Ontology" %}</button>{% endif %}     
        {% if show_all %}<button class="nav-link" id="nav-graph-tab" data-bs-toggle="tab" data-bs-target="#nav-graph" type="button" role="tab" aria-control="nav-graph" aria-selected="false">{% trans "Graph"%}</button>{% endif %}
        {% if show_all %}<button class="nav-link" id="nav-matrix-tab" data-bs-toggle="tab" data-bs-target="#nav-matrix" type="button" role="tab" aria-control="nav-matrix" aria-selected="false">{% trans "Matrix"%}</button>{% endif %}
        {% if show_all %}<button class="nav-link" id="nav-impact-analysis-tab" data-bs-toggle="tab" data-bs-target="#nav-impact-analysis" type="button" role="tab" aria-control="nav-impact-analysis" aria-selected="false">{% trans "Impact Analysis"%}</button>{% endif %}
        {% if show_all %}<button class="nav-link" id="nav-gap-analysis-tab" data-bs-toggle="tab" data-bs-target="#nav-gap-analysis" type="button" role="tab" aria-control="nav-gap-analysis" aria-selected="false">{% trans "Gap Analysis"%}</button>{% endif %}
        {% if show_all %}<button class="nav-link" id="nav-pathfinder-tab" data-bs-toggle="tab" data-bs-target="#nav-pathfinder" type="button" role="tab" aria-control="nav-pathfinder" aria-selected="false">{% trans "Path Finder" %}</button>{% endif %}
    </div>
</nav>

<div class="tab-content" id="nav-tabContent">

    {% if show_reports %}
    <div class="tab-pane fade" id="nav-reports" role="tabpanel" aria-labelledby="nav-reports-tab">
        <div class="mt-3"><a class="btn btn-primary" href="{% url "o_report_create" model_id=object.id %}">{% trans "New Report" %}</a></div>
        <br>
        <input class="form-control" id="search-reports" type="text" placeholder="{% trans "Filter" %}...">
        {% include "o_report/o_report_table.html" with object_list=reports %}
        
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if reports.has_previous %}
                    <li class="page-item"><a class="page-link" href="?report_page=1">&laquo; first</a></li>
                    <li class="page-item"><a class="page-link" href="?report_page={{ reports.previous_page_number }}">{% trans "previous" %}</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="#">{{ reports.number }} of {{ reports.paginator.num_pages }}</a></li>
                {% if reports.has_next %}
                    <li class="page-item"><a class="page-link" href="?report_page={{ reports.next_page_number }}">{% trans "next" %}</a></li>
                    <li class="page-item"><a class="page-link" href="?report_page={{ reports.paginator.num_pages }}">{% trans "last" %} &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>

    </div>

    {% endif %}
    {% if show_concepts %}

    <div class="tab-pane fade" id="nav-concepts" role="tabpanel" aria-labelledby="nav-concepts-tab">
        <div class="mt-3"><a class="btn btn-primary" href="{% url "o_concept_create" model_id=object.id %}">{% trans "New Concept" %}</a></div>
        <br>
        <input class="form-control" id="search-concepts" type="text" placeholder="{% trans "Filter" %}...">
        {% include "o_concept/o_concept_table.html" with object_list=concepts %}
        
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if concepts.has_previous %}
                    <li class="page-item"><a class="page-link" href="?concept_page=1">&laquo; {% trans "first" %}</a></li>
                    <li class="page-item"><a class="page-link" href="?concept_page={{ concepts.previous_page_number }}">{% trans "previous" %}</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="#">{{ concepts.number }} of {{ concepts.paginator.num_pages }}</a></li>
                {% if concepts.has_next %}
                    <li class="page-item"><a class="page-link" href="?concept_page={{ concepts.next_page_number }}">{% trans "next" %}</a></li>
                    <li class="page-item"><a class="page-link" href="?concept_page={{ concepts.paginator.num_pages }}">{% trans "last" %} &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

    {% endif %}
    {% if show_relations %}

    <div class="tab-pane fade" id="nav-relations" role="tabpanel" aria-labelledby="nav-relations-tab">
        <div class="mt-3"><a class="btn btn-primary" href="{% url "o_relation_create" model_id=object.id %}">{% trans "New Relation" %}</a></div>
        <br>
        <input class="form-control" id="search-relations" type="text" placeholder="{% trans "Filter" %}...">
        {% include "o_relation/o_relation_table.html" with object_list=relations %}

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if relations.has_previous %}
                    <li class="page-item"><a class="page-link" href="?relation_page=1">&laquo;{% trans "first" %} </a></li>
                    <li class="page-item"><a class="page-link" href="?relation_page={{ relations.previous_page_number }}">{% trans "previous" %}</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="#">{{ relations.number }} of {{ relations.paginator.num_pages }}</a></li>
                {% if relations.has_next %}
                    <li class="page-item"><a class="page-link" href="?relation_page={{ relations.next_page_number }}">{% trans "next" %}</a></li>
                    <li class="page-item"><a class="page-link" href="?relation_page={{ relations.paginator.num_pages }}">{% trans "last" %} &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

    {% endif %}
    {% if show_predicates %}

    <div class="tab-pane fade" id="nav-predicates" role="tabpanel" aria-labelledby="nav-predicates-tab">
        <div class="mt-3"><a class="btn btn-primary" href="{% url "o_predicate_create" model_id=object.id %}">{% trans "New Predicate" %}</a></div>
        <br>
        <input class="form-control" id="search-predicates" type="text" placeholder="{% trans "Filter" %}...">
        {% include "o_predicate/o_predicate_table.html" with object_list=predicates %}
        
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if predicates.has_previous %}
                    <li class="page-item"><a class="page-link" href="?predicate_page=1">&laquo; {% trans "first" %}</a></li>
                    <li class="page-item"><a class="page-link" href="?predicate_page={{ predicates.previous_page_number }}">{% trans "previous" %}</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="#">{{ predicates.number }} of {{ predicates.paginator.num_pages }}</a></li>
                {% if predicates.has_next %}
                    <li class="page-item"><a class="page-link" href="?predicate_page={{ predicates.next_page_number }}">{% trans "next" %}</a></li>
                    <li class="page-item"><a class="page-link" href="?predicate_page={{ predicates.paginator.num_pages }}">{% trans "last" %} &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>

    </div>

    {% endif %}

    {% if show_all %}
    <div class="tab-pane fade" id="nav-graph" role="tabpanel" aria-labelledby="nav-graph-tab">
        <br>
        {% include "o_model/o_model_graph.html" %}
    </div>
    {% endif %}

    {% if show_all %}
    <div class="tab-pane fade" id="nav-matrix" role="tabpanel" aria-labelledby="nav-matrix-tab">
        <br>
        {% include "o_model/o_model_matrix.html" %}
    </div>
    {% endif %}

    {% if show_all %}
    <div class="tab-pane fade" id="nav-impact-analysis" role="tabpanel" aria-labelledby="nav-impact-analysis-tab">
        <br>
        {% include "o_model/o_model_impact_analysis.html" %}
    </div>
    {% endif %}

    {% if show_all %}
    <div class="tab-pane fade" id="nav-gap-analysis" role="tabpanel" aria-labelledby="nav-gap-analysis-tab">
        <br>
        {% include "o_model/o_model_gap_analysis.html" %}
    </div>
    {% endif %}

    {% if show_all %}
    <div class="tab-pane fade" id="nav-pathfinder" role="tabpanel" aria-labelledby="nav-pathfinder-tab">
        <br>
        {% include "o_model/o_model_pathfinder.html" %}
    </div>
    {% endif %}

</div>

<script>
    $(document).ready(function(){
        $('button[data-bs-toggle="tab"]').on('show.bs.tab', function(e) {
            localStorage.setItem('activeTab', $(e.target).attr('id'));
        });
        var activeTab = localStorage.getItem('activeTab');
        if(activeTab){
            $('#'+activeTab).tab('show');
        }
    });
</script>
<script>
    const modelId = window.location.pathname.split('/')[3];

    $(document).ready(function(){
        var tables_ids = ["reports", "concepts", "relations", "predicates"];
        tables_ids.forEach(function(item) {
            $("#search-"+item).on("keyup", function() {
                var value = $(this).val().toLowerCase();
                var total_selected = 0;
                $("#table-"+item + " tbody tr").filter(function() {
                    $(this).hide();
                    if ($(this).text().toLowerCase().indexOf(value) > -1){
                        total_selected = total_selected + 1;
                        $(this).show();
                    }
                });
                $("#table-"+item+" thead .total_display").text(total_selected);
            });
        });

        $('#model-gap-select').select2();
    });
</script>
{% endblock content %}
