{% load i18n %}
<table class="table table-fluid table-hover " id="table-instances">
    <thead>
        <tr>
            <th>{% trans "Instance" %}</th>
            <th>{% trans "Concept" %}</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th class="total_display text-muted">{{ object_list|length }}</th>
        </tr>
    </thead>
    <tbody>
        {% for instance in object_list %}
        <tr>
            <td><a class="link-dark" href="{% url "o_instance_detail" instance.id %}">{{ instance.code }} {{ instance.name }}</a></td>
            <td><a class="link-dark" href="{% url "o_concept_detail" instance.concept.id %}">{{ instance.concept.name }}</a></td>
            <td>{{ instance.description | truncatechars:200}}</td>
            <td>{% for tag in instance.tags.all %}{{ tag.name }} {% endfor %}</td>
            <td>{% trans instance.get_quality_status_display %}</td>
            <td><a href="{% url "o_instance_update" instance.id %}"><i class="far fa-edit"></i></a></td>
            <td><a href="{% url "o_instance_delete" instance.id %}"><i class="fa fa-remove"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
