{% load i18n %}
<table class="table table-fluid table-hover " id="table-concepts">
    <thead>
        <tr>
            <th>{% trans "Configuration" %}</th>
            <th></th>
            <th></th>
            <th class="total_display text-muted">{{ object_list|length }}</th>
        </tr>
    </thead>
    <tbody>
        {% for Configuration in object_list %}
        <tr>
            <td><a class="link-dark" href="{% url "configuration_detail" Configuration.id %}">{{ Configuration.name }}</a></td>
            <td>{{ Configuration.content }}</td>
            <td><a href="{% url "configuration_update" Configuration.id %}"><i class="far fa-edit"></i></a></td>
            <td><a href="{% url "configuration_delete" Configuration.id %}"><i class="fa fa-remove"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
