
{% load i18n %}
<table class="table table-fluid table-hover">
    <thead>
        <tr>
            <th>{% trans "Repository" %}</th>
            <th></th>
            <th></th>
            <th></th>
            <th class="total_display text-muted">{{ object_list|length }}</th>
        </tr>
    </thead>
    <tbody>
        {% for repository in object_list %}
        <tr>
            <td><a  class="link-dark" href="{% url "repository_detail" repository.id %}">{{ repository.name }}</a></td>
            <td><a  class="link-dark" href="{% url "organisation_detail" repository.organisation.id %}">{{ repository.organisation }}</a></td>
            <td>{% for tag in repository.tags.all %}{{ tag.name }} {% endfor %}</td>
            <td><a href="{% url "repository_update" repository.id %}"><i class="far fa-edit"></i></a></td>
            <td><a href="{% url "repository_delete" repository.id %}"><i class="fa fa-remove"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
