{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<h2 class="form-title">{% trans "Permission" %}</h2>

<table class="table table-fluid table-hover">
    <thead>
        <tr>
            <th>{% trans "Permission" %}</th>
            <th></th>
            <th></th>
            <th class="total_display text-muted">{{ object_list|length }}</th>
        </tr>
    </thead>
    <tbody>
        {% for Permission in object_list %}
        <tr>
            <td>{{ Permission }}</td>
            <td><a href="{% url "permission_detail" Permission.id %}">{% trans "view" %}</a></td>
            <td><a href="{% url "permission_update" Permission.id %}"><i class="far fa-edit"></i></a></td>
            <td><a href="{% url "permission_delete" Permission.id %}"><i class="fa fa-remove"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url "permission_create_user" user_id=user.id %}">{% trans "New" %}</a>

{% endblock content %}
