{% load i18n %}
<table class="table table-fluid table-hover " id="table-concepts">
    <thead>
        <tr>
            <th>{% trans "Concept" %}</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th class="total_display text-muted">{{ object_list|length }}</th>
        </tr>
    </thead>
    <tbody>
        {% for OConcept in object_list %}
        <tr>
            <td><a class="link-dark" href="{% url "o_concept_detail" OConcept.id %}">{{ OConcept.name }}</a></td>
            <td>{{ OConcept.description }}</td>
            <td>{% for tag in OConcept.tags.all %}{{ tag.name }} {% endfor %}</td>
            <td>{% trans OConcept.get_quality_status_display %}</td>
            <td><a href="{% url "o_concept_update" OConcept.id %}"><i class="far fa-edit"></i></a></td>
            <td><a href="{% url "o_concept_delete" OConcept.id %}"><i class="fa fa-remove"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
