{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load mkd %}

{% block content %}
<div class="d-flex flex-column flex-md-row align-items-center pb-2">
    <div>
        <a class="link-dark breadcrumb" href="{% url "o_model_detail" model_id %}" href="#"> ({% trans "Model" %}) {{ object.model.name|truncatechars:15 }} > </a>
        <h2>{{object.name}} ({% trans "Concept" %})</h2>
    </div>
    <div class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn btn-secondary" href="{% url "o_concept_update" object.id %}" class="dropdown-item" href="#">{% trans "Edit" %}</a>
          <a class="btn btn-secondary" href="{% url "o_concept_delete" object.id %}" class="dropdown-item" href="#">{% trans "Delete" %}</a>
      </div>
    </div>
  </div>

<p>{{object.description | markdown | safe}}</p>
<dl class="row">
    <dt class="col-sm-3">{% trans "Quality Status" %}</dt>
    <dd class="col-sm-9">{% trans object.get_quality_status_display %}</dd>
    <dt class="col-sm-3">{% trans "Tags" %}</dt>
    <dd class="col-sm-9">
      {% for tag in object.tags.all %}
        {{ tag.name }}
      {% endfor %}
    </dd>
    <dt class="col-sm-3 text-muted">{% trans "id" %}</dt>
    <dd class="col-sm-9 text-muted">{{object.id}}</dd>
    
    <dt class="col-sm-3 text-muted">{% trans "Created" %}</dt>
    <dd class="col-sm-9 text-muted">{{object.created_at}} - {{object.created_by.username}}</dd>

   <dt class="col-sm-3 text-muted">{% trans "Modified" %}</dt>
   <dd class="col-sm-9 text-muted">{{object.modified_at}} - {{object.modified_by.username}}</dd>
</dl>

<div class="mt-3"><a class="btn btn-primary" href="{% url "o_instance_create" concept_id=object.id %}">{% trans "New Instance" %}</a></div>
<hr/>

<dl class="row">
  <dt class="col-sm-3">{% trans "Parents" %}</dt>
  <dd class="col-sm-9">
    {% for parent_concept in parent_concepts %}
    <a class="link-dark" href="{% url "o_concept_detail" parent_concept.id %}">{{ parent_concept.name }}</a>
    {% endfor %}</dd>
  <dt class="col-sm-3">{% trans "Children" %}</dt>
  <dd class="col-sm-9">
    {% for child_concept in child_concepts %}
    <a class="link-dark" href="{% url "o_concept_detail" child_concept.id %}">{{ child_concept.name }}</a>
    {% endfor %}
  </dd>
</dl>
<hr/>

<input class="form-control" id="search-instances" type="text" placeholder="{% trans "Filter" %}...">

{% include "o_instance/o_instance_table.html" with object_list=instances %}

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if instances.has_previous %}
            <li class="page-item"><a class="page-link" href="?instance_page=1">&laquo; {% trans "first" %}</a></li>
            <li class="page-item"><a class="page-link" href="?instance_page={{ instances.previous_page_number }}">{% trans "previous" %}</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="#">{{ instances.number }} of {{ instances.paginator.num_pages }}</a></li>
        {% if instances.has_next %}
            <li class="page-item"><a class="page-link" href="?instance_page={{ instances.next_page_number }}">{% trans "next" %}</a></li>
            <li class="page-item"><a class="page-link" href="?instance_page={{ instances.paginator.num_pages }}">{% trans "last" %} &raquo;</a></li>
        {% endif %}
    </ul>
</nav>

<script>
    $(document).ready(function(){
      $("#search-instances").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        var total_selected = 0;
        $("#table-instances tbody tr").filter(function() {
          $(this).hide();
          if ($(this).text().toLowerCase().indexOf(value) > -1){
              total_selected = total_selected + 1;
              $(this).show();
          }
        });
        $("#table-instances thead .total_display").text(total_selected);
      });
    });
</script>
{% endblock content %}
