{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<h2 class="form-title">{% trans "Slot" %}</h2>

<table class="table table-fluid table-hover">
    <thead>
        <tr>
            <th>{% trans "Slot" %}</th>
            <th></th>
            <th class="total_display text-muted">{{ object_list|length }}</th>
        </tr>
    </thead>
    <tbody>
        {% for OSlot in object_list %}
        <tr>
            <td><a href="{% url "o_slot_detail" OSlot.id %}">{{ OSlot }}</a></td>
            <td><a href="{% url "o_slot_update" OSlot.id %}"><i class="far fa-edit"></i></a></td>
            <td><a href="{% url "o_slot_delete" OSlot.id %}"><i class="fa fa-remove"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
