{% load i18n %}
<table class="table table-fluid table-hover " id="table-predicates">
    <thead>
        <tr>
            <th>{% trans "Predicate" %}</th>
            <th></th>
            <th></th>
            <th></th>
            <th class="total_display text-muted">{{ object_list|length }}</th>
        </tr>
    </thead>
    <tbody>
        {% for OPredicate in object_list %}
        <tr>
            <td><a class="link-dark" href="{% url "o_predicate_detail" OPredicate.id %}">{{OPredicate.name}}</a></td>
            <td>{% for tag in OPredicate.tags.all %}{{ tag.name }} {% endfor %}</td>
            <td>{% trans OPredicate.get_quality_status_display %}</td>
            <td><a href="{% url "o_predicate_update" OPredicate.id %}"><i class="far fa-edit"></i></a></td>
            <td><a href="{% url "o_predicate_delete" OPredicate.id %}"><i class="fa fa-remove"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>