{% load i18n %}
<table class="table table-fluid table-hover">
    <thead>
        <tr>
            <th>{% trans "Task" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Attachment" %}</th>
            <th>{% trans "Start" %}</th>
            <th>{% trans "End" %}</th>
            <th></th>
            <th class="total_display text-muted">{{ object_list|length }}</th>
        </tr>
    </thead>
    <tbody>
        {% for Task in object_list %}
        <tr>
            <td><a class="link-dark" href="{% url "task_detail" Task.id %}">{{ Task }}</a></td>
            <td>{{ Task.status }}</td>
            {% if Task.attachment %}
            <td><a href='{{ Task.attachment.url }}'>{{ Task.attachment }}</a></td>
            {% else %}
            <td></td>
            {% endif %}
            <td>{{ Task.started_at }}</td>
            <td>{{ Task.ended_at }}</td>
            <td><a href="{% url "task_update" Task.id %}"><i class="far fa-edit"></i></a></td>
            <td><a href="{% url "task_delete" Task.id %}"><i class="fa fa-remove"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>