{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<h2 class="form-title">{% trans "SecurityGroup" %}</h2>

<table class="table table-fluid table-hover">
    <thead>
        <tr>
            <th>{% trans "SecurityGroup" %}</th>
            <th>{% trans "Organisation" %}</th>
            <th>{% trans "View" %}</th>
            <th></th>
            <th class="total_display text-muted">{{ object_list|length }}</th>
        </tr>
    </thead>
    <tbody>
        {% for SecurityGroup in object_list %}
        <tr>
            <td>{{ SecurityGroup }}</td>
            <td><a href="{% url "organisation_detail" SecurityGroup.organisation.id %}">{{ SecurityGroup.organisation.name }}</a></td>
            <td><a href="{% url "security_group_detail" SecurityGroup.id %}">{% trans "view" %}</a></td>
            <td><a href="{% url "security_group_update" SecurityGroup.id %}"><i class="far fa-edit"></i></a></td>
            <td><a href="{% url "security_group_delete" SecurityGroup.id %}"><i class="fa fa-remove"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url "security_group_create_user" user_id=user.id %}">{% trans "New" %}</a>

{% endblock content %}
