{% load i18n %}
<table class="table table-fluid table-hover " id="table-relations">
    <thead>
        <tr>
            <th>{% trans "Relation" %}</th>
            <th>{% trans "Type" %}</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th class="total_display text-muted">{{ object_list|length }}</th>
        </tr>
    </thead>
    <tbody>
        {% for ORelation in object_list %}
        <tr>
            <td><a class="link-dark" href="{% url "o_relation_detail" ORelation.id %}">{{ ORelation.name }}</a></td>
            <td>{% trans ORelation.get_type_display %}</td>
            <td>{{ OConcept.description }}</td>
            <td>{% for tag in ORelation.tags.all %}{{ tag.name }} {% endfor %}</td>
            <td>{% trans ORelation.get_quality_status_display %}</td>
            <td><a href="{% url "o_relation_update" ORelation.id %}"><i class="far fa-edit"></i></a></td>
            <td><a href="{% url "o_relation_delete" ORelation.id %}"><i class="fa fa-remove"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>